# Arquivos de Build do Backend (Java/Maven)
/backend/target/
/backend/*.jar
/backend/*.log
/backend/uploads/

# Arquivos de Build dos Frontends (React/Node)
/frontend-admin/node_modules/
/frontend-admin/build/
/frontend-admin/.env
/frontend-admin/npm-debug.log
/frontend-admin/yarn-error.log

/frontend-user/node_modules/
/frontend-user/build/
/frontend-user/.env
/frontend-user/npm-debug.log
/frontend-user/yarn-error.log

# Diretórios de dados do Docker
/db-data/

# Arquivos de sistema (OS)
.DS_Store
Thumbs.db